.navbar-static-top {
  top: 0;
  position: absolute;
  margin-bottom: 100px;
  border-bottom: 2px;
  border-bottom-color: #FFFFCC;
  padding: 30px;
  font-size: 1.5em;
  
}

.menu a.navbar-brand {
  font-size: 1.5em;
  color: #99CCFF;
}

.carousel-caption {
  margin: 10px;
}

.carousel-caption {
  top: 50px;
}

a.btn.btn-lg.btn-primary {
 background-color: #330000;
 border-color: #330000;
 background-image: linear-gradient(rgb(33, 00, 00) 0px, rgb(66, 00, 00) 100%);
}

h1, p {
  color: #330000;
}

.menu a {
  color: #330000;
}
